html, body {
    height: 100%;
    margin: 0;
}

.notes {
    display: flex; /*ubica todas las secciones del contenedor (app) en ROW*/
    height: 100%;
}

.notes * { /*selecciona todos los elementos (*) dentro de la class = notes */
    font-family: sans-serif;
}

.notes__sidebar {
    border-right: 2px solid #dddddd; /*barra lateral*/
    flex-shrink: 0;
    overflow-y: auto ; /*si se pasa el texto, se agrega la barra vertical (y) */
    padding: 1em; 
    width: 300px;/*ancho de la columna sidebar*/
}

.notes__add { /*button*/
    background-color: #009578;
    border: none;
    border-radius: 7px;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 0.75em 0;
    width: 100%;
}

.notes__add:hover { /*cuando paso el cursor aclara el color boton*/
    background: #00af8c;
}

.notes__list-item {
    cursor: pointer;
}

.notes__list-item--selected {
    background: #eeeeee;/*gris para fondo de lista de notas*/
    border-radius: 7px;
    font-weight: bold;
}

.notes__small-title, .notes__small-updated {
    padding: 10px;
}

.notes__small-title {/*titulo de la nota*/
    font-size: 1.2em;
}

.notes__small-body {/*donde va a ir el parrafo*/
    padding: 0 10px;
}

.notes__small-updated { /*fecha de updated*/
    color: #aaaaaa;
    font-style: italic;
    text-align: right;
}

.notes__preview { /*COLUMNA DERECHA */
    display: flex;
    flex-direction: column;
    padding: 2em 3em;
    flex-grow: 1;
}

.notes__title, .notes__body {
    border: none; /*le saco los bordes al input y textarea*/
    outline: none; /*sin contorno*/
    width: 100%;
}

.notes__title { /*titulo de la barra derecha*/
    font-size: 3em;
    font-weight: bold;
}

.notes__body {
    flex-grow: 1; /*factor de crecimiento de 0 a 1*/
    font-size: 1.2em; /*tamaño del texto en el body*/
    line-height: 1.5; /*altura de la letra????*/
    margin-top: 2em;
    resize: none;
}



